body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('unipar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#welcome-form {
    background-color: #0077b6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#welcome-form h2 {
    color: #ffffff;
    margin-bottom: 15px;
}

#welcome-form input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}

#welcome-form button {
    padding: 10px 20px;
    background-color: #00b4d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#welcome-form button:hover {
    background-color: #0096c7;
}

/* Estilo para a sala de bate-papo */
#chat-room {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;

}

#chat-room h2 {
    color: #0077b6;
    margin-bottom: 15px;
}

#messages {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    text-align: left;
}

#messageInput {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 70%;
}

#chat-room button {
    padding: 10px 20px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

#chat-room button:hover {
    background-color: #0096c7;
}