th{
    background-color: #0D5188;
    color: white
     
}
td{
    background-color: #66c5e3;
    color: black
}
tr{
    font-family: Arial, Helvetica, sans-serif;
    width: 12px;
}
.colunaPrata{
    background-color: silver;
    color: black;
}


    .População{
        background-color: #c7e7f3;
        color: black;

    }
    .Cidade{       
        background-color: #c7e7f3;
        color: rgb(43, 43, 223);
    }