.divAbsoluto{
background-color: darkgreen;
border-style: groove ;
width: 90%;
height: 180px;
}
.divTotal{
    width: 1200px;
}
.divEsquerda{
background-color: red;
border-style: 10px solid gray;
float: left;
width: 54%;
height: 340px;
}
.divDireita{
background-color: blue;
border-style: groove;
float: left;
width: 35%;
height: 340px;
align-self: center;
}
body{
    height: 2000px;
}